# Polygon zkEVM Node Configuration - Based on Official Example
# Modified for single-server MVP deployment

[Log]
Environment = "development"
Level = "info"
Outputs = ["stderr"]

[State]
	[State.DB]
	User = "zkevmuser"
	Password = "zkevmpassword"
	Name = "zkevmdb"
	Host = "zkevm-db"
	Port = "5432"
	EnableLog = false	
	MaxConns = 50

[Pool]
IntervalToRefreshBlockedAddresses = "5m"
IntervalToRefreshGasPrices = "5s"
MaxTxBytesSize = 100132
MaxTxDataBytesSize = 100000
DefaultMinGasPriceAllowed = 1000000000
MinAllowedGasPriceInterval = "5m"
PollMinAllowedGasPriceInterval = "15s"
AccountQueue = 32
GlobalQueue = 512
	[Pool.DB]
	User = "zkevmuser"
	Password = "zkevmpassword"
	Name = "zkevmdb"
	Host = "zkevm-db"
	Port = "5432"
	EnableLog = false
	MaxConns = 50

[Etherman]
URL = "http://54.169.30.130:8545"
ForkIDChunkSize = 20000
MultiGasProvider = false
	[Etherman.Etherscan]
		ApiKey = ""

[RPC]
Host = "0.0.0.0"
Port = 8545
ReadTimeout = "60s"
WriteTimeout = "60s"
MaxRequestsPerIPAndSecond = 100
SequencerNodeURI = ""
EnableL2SuggestedGasPricePolling = true
	[RPC.WebSockets]
		Enabled = true
		Port = 8546

[Synchronizer]
SyncInterval = "2s"
SyncChunkSize = 50
TrustedSequencerURL = ""

[Sequencer]
WaitPeriodPoolIsEmpty = "2s"
LastBatchVirtualizationTimeMaxWaitPeriod = "10s"
BlocksAmountForTxsToBeDeleted = 100
FrequencyToCheckTxsForDelete = "12h"
TxLifetimeCheckTimeout = "10m"
MaxTxLifetime = "3h"
MaxTxSizeForL1 = 131072
	[Sequencer.Finalizer]
		GERDeadlineTimeout = "10s"
		ForcedBatchDeadlineTimeout = "120s"
		SleepDuration = "500ms"
		ResourcePercentageToCloseBatch = 50
		GERFinalityNumberOfBlocks = 64
		ClosingSignalsManagerWaitForCheckingL1Timeout = "10s"
		ClosingSignalsManagerWaitForCheckingGER = "10s"
		ClosingSignalsManagerWaitForCheckingForcedBatches = "10s"
		ForcedBatchesFinalityNumberOfBlocks = 64
		TimestampResolution = "15s"
		StopSequencerOnBatchNum = 0
	[Sequencer.Finalizer.Metrics]
		Interval = "60m"
		EnableLog = true
	[Sequencer.StreamServer]
		Port = 6900
		Filename = "/datastreamer/datastream.bin"
		Enabled = false

[Aggregator]
Host = "0.0.0.0"
Port = 50081
RetryTime = "10s"
VerifyProofInterval = "60s"
TxProfitabilityCheckerType = "acceptall"
TxProfitabilityMinReward = "1.1"
ProofStatePollingInterval = "10s"
SenderAddress = "0x7cB61D4117AE31a12E393a1Cfa3BaC666481D02E"
CleanupLockedProofsInterval = "5m"
GeneratingProofCleanupThreshold = "20m"

[NetworkConfig.L1]
L1ChainID = 88388
PolAddr = "0x1dd7133aC43311345F78776E8C1bDA79Ff690E07"
ZkEVMAddr = "0x5a22e63e1f75488d14dcaCe6a820d34C6eB0097c"
RollupManagerAddr = "0x52a5C8d210736f32253D5de05619780d4E6c157B"
GlobalExitRootManagerAddr = "0xb0d68747a16ff7718FB69f8679097Eb52d923Df6"
PolygonZkEVMBridgeAddr = "0xDb66ade8c5932f0e60Fa3976330C4DDC222E4812"

[MTClient]
URI = "zkevm-prover:50061"

[Executor]
URI = "zkevm-prover:50071"
MaxResourceExhaustedAttempts = 3
WaitOnResourceExhaustion = "2s"
MaxGRPCMessageSize = 100000000

[Metrics]
Host = "0.0.0.0"
Port = 9091
Enabled = true
ProfilingHost = "0.0.0.0"
ProfilingPort = 6060
ProfilingEnabled = false

[EventLog]
	[EventLog.DB]
	User = "zkevmuser"
	Password = "zkevmpassword"
	Name = "zkevmdb"
	Host = "zkevm-db"
	Port = "5432"
	EnableLog = false
	MaxConns = 50

[HashDB]
User = "zkevmuser"
Password = "zkevmpassword"
Name = "zkevmdb"
Host = "zkevm-db"
Port = "5432"
EnableLog = false
MaxConns = 50
